.header {
  position: fixed;
  width: 100%;
  background-color: #00704a;
  padding: 5px 0 0 0;
  height: auto;
}

.collapseStyle {
  width: 100%;
  background-color: #ffff;
  border: none;
}

.panelStyle {
  background-color: #ffff;
}

.container {
  margin-top: 10%;
}

.menuStyle {
  background-color: #ffff;
}

.rowHeader {
  background-color: #ffff; 
}

.logoStyle {
  width: 120px;
}

.imgHome {
  width: 100%;
}

.titleStar {
  color: #ffff;
  font-family: 'Playfair Display', serif;
  font-size: 78px;
}