.header {
  position: fixed;
  z-index: 1;
  width: 100%;
  background-color: #00704a;
  padding: 5px 0 0 0;
  height: auto;
}

.cardStyle {
  width: 25%;
}

.rowTitle {
  border-bottom: 2px solid #035238;
}

.collapseStyle {
  width: 100%;
  background-color: #ffff;
  border: none;
}

.panelStyle {
  background-color: #ffff;
}

.container {
  margin-top: 137px;
}

.menuStyle {
  background-color: #ffff;
}

.rowHeader {
  background-color: #ffff; 
}

.logoStyle {
  width: 120px;
}

.imgHome {
  height: 700px;
  width: 100%;
}

.titleStar {
  color: #ffff;
  font-family: 'Playfair Display', serif;
  font-size: 78px;
}

.tagDrop {
  color: #00704a;
}

.fontTitleCafe {
  font-family: 'Playfair Display', serif;
}

.fontText {
  font-family: 'Merriweather', serif;
}